<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of customers</title>
</head>
<body>
<h1>customer list</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Vorname</th>
        <th>Nachname</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer : ${customers}">
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.vorname}"></td>
        <td th:text="${customer.nachname}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
